*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}



.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    background-image: linear-gradient(rgb(11, 11, 11),rgb(231, 91, 53),rgb(33, 10, 10));
}
.checkboxes{
    cursor: pointer;
}

.length{
    display: flex;
    justify-content: space-around;
}

.lengthno{
    color: yellow;
    font-weight: bolder;
    padding-left: 90px;
}

input{
    background-color: black;
    border: none;
    margin: 7px;
}

input::placeholder{
    color: rgb(139, 139, 104);
}

.passdisplay{
    color: yellow;
}

.box1{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    width: 285px;
    height: 40px;
    background-color: rgb(11, 6, 1);
    border-radius: 8px;
    border-bottom: 5px solid #1f4d9e;  
    padding-right: 10px;
    cursor: pointer; 
}

.copybtn{
    color: rgb(236, 224, 13);
}


.passlen{
    padding-right: 10px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}



.box2{
    padding-top: 20px;
    padding-left: 9px;
    border: 2px solid black;
    width: 285px;
    height: 320px;
    background-color: rgb(11, 6, 1);
    border-radius: 8px;
    border-bottom: 4px solid #1f4d9e; 
    cursor: pointer;
    justify-content: space-between;
}

.generatebutton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

button{
    border: none;
    border-radius: 8px;
    color: yellow;
    background-color: #1f4d9e;
    border-bottom: 4px solid #8f9e1f; 
    height: 40px;
    width: 80%;
    cursor: pointer;
    
}

.color{
    width: 18px;
    height: 18px;
    background-color: aliceblue;
    border-radius: 50%;
}

.strengthcol{
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}
.slider{
    padding-top: 5px;
    width: 95%;
    background-color: orange;
    background-image: linear-gradient(orange,orange);
    
}
.check input{
    background-color: none;
    border: #8f9e1f;
}

.checkboxes{
    accent-color: yellow;
}

.slider::-webkit-slider-thumb {
position:relative;
z-index:1;
appearance: none;
height:2rem;
width:2rem;
border-radius: 50%;
background-color: yellow;
cursor:pointer;
margin-top: -3px;
box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.50);
transition: all 100ms ease-in;
}





